kind: ConfigMap
apiVersion: v1
metadata:
  name: iot-sensor-floor
  namespace: devconf-demo
data:
  sensor.device-id: floor-01
  sensor.humidity: '25'
  sensor.location: fridge-room-c1-floor
  sensor.temperature: '11'
